pre {
  border: 1px solid $ig-color-light-grey;
  padding-left: 2px;
  padding-right: 2px;
  background: $ig-color-lighter-grey;
}
code {
  padding-left: 1px;
  padding-right: 1px;
  background: $ig-color-lighter-grey;
}
